<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>GymHub - Cadastro</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">


            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index">GymHub</a>
              </div>
            </header>  
            
            <!-- Forms -->
            <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>Cadastro</h2>
                    </div>

                    <form id="form-login" action="" method="post" name="form-login">
                      <div class="row">

                        <div class="col-md-12">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Nome" required="">
                          </fieldset>
                        </div>

                        <div class="col-md-12">
                          <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="E-mail" required="">
                          </fieldset>
                        </div>

                        <div class="col-md-12">
                          <fieldset>
                            <input name="senha" type="password" class="form-control" id="senha" placeholder="Senha" required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <input name="confirmarsenha" type="password" class="form-control" id="confirmarsenha" placeholder="Confirmar senha" required="">
                          </fieldset>
                        </div>
                        
                        <div class="col-md-6 col-sm-6">
                          <div class="circle-item">
                            <input name="demo-priority" type="radio" id="demo-small" value="16-20" checked>
                            <label for="demo-small">Cliente</label>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="circle-item">
                            <input name="demo-priority" type="radio" id="demo-medium" value="21-30">
                            <label for="demo-medium">Administrador</label>
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                          <button type="submit" id="form-submit" class="button">Enviar</button>
                        </div>

                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
            
          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Pesquisar..." />
              </form>
            </section>
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="planos">Planos</a></li>
                <li><a href="produtos">Produtos</a></li>        
                <li><a href="simple_page">Simple Page</a></li>
                <li><a href="shortcodes">Shortcodes</a></li>
                <li>
                  <span class="opener">Dropdown One</span>
                  <ul>
                    <li><a href="#">First Sub Menu</a></li>
                    <li><a href="#">Second Sub Menu</a></li>
                    <li><a href="#">Third Sub Menu</a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">Dropdown Two</span>
                  <ul>
                    <li><a href="#">Sub Menu #1</a></li>
                    <li><a href="#">Sub Menu #2</a></li>
                    <li><a href="#">Sub Menu #3</a></li>
                  </ul>
                </li>                
              </ul>
            </nav>

            

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2020 GymHub
              <br>Designed by <a rel="nofollow" href="#">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/transition.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/custom.js"></script>
</body>


  </body>

</html>
