<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>GymHub</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="/">GymHub</a>
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4><em>GymHub</em></h4>
                            <span>Lorem ipsum dolor sit amet</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="primary-button">
                              <a href="#">Saiba Mais</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Academias -->
            <section class="services" style="margin-top: 50px;">
              <div class="section-heading">
                <h1 style="text-align: center;margin-bottom: 50px;">Academias</h1>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6" th:each="academia : ${academias}">
                    <div class="service-item first-item">
                      <h1 th:text="${academia.nome}" style="padding-top: 20px;color: #fff;padding-bottom: 30px;text-decoration: underline;"></h1>
                      <p th:text="${academia.descricao}" style="color: #fff;"></p>
                      <hr style="border-top: 1px solid #fff;">                      
                      <p th:text="${academia.endereco}" style="color: #fff;"></p>
                      <p th:text="${academia.telefone}" style="color: #fff; padding-bottom: 20px;"></p>
                      <a th:href="${academia.website}" style="color:#fff;border: 2px solid white;padding: 10px;">Visitar</a>
                    </div>
                  </div>                                    
                </div>
              </div>
            </section>

            <!-- Planos -->
            <section class="services">
              <div class="section-heading">
                <h1 style="text-align: center;margin-bottom: 50px;">Planos</h1>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4" th:each="plano : ${planos}">
                    <div class="service-item first-item">
                      <h1 th:text="${plano.nomeplano}" style="padding-top: 20px;color: #fff;padding-bottom: 30px;text-decoration: underline;"></h1>
                      <p th:text="${plano.descricao}" style="color: #fff;"></p>
                      <hr style="border-top: 1px solid #fff;">
                      <h5 style="color:#fff">Diferenciais:</h5>
                      <p th:text="${plano.diferenciais}" style="color: #fff;"></p>
                      <h4 th:text="${plano.valor}" style="padding-top: 20px;color: #fff;"></h4>
                    </div>
                  </div>                                    
                </div>
              </div>
            </section>

            <!-- Produtos -->
            <section class="services">
              <div class="section-heading">
                <h1 style="text-align: center;margin-bottom: 50px;">Produtos</h1>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3" th:each="produtoVitrine : ${produtosVitrine}">
                    <div class="service-item first-item">
                      <img th:src="${produtoVitrine.imagemproduto}">
                      <h4 th:text="${produtoVitrine.nomeproduto}" style="padding-top: 20px;color: #fff;"></h4>
                      <p th:text="${produtoVitrine.descricao}" style="color: #fff;"></p>
                    </div>
                  </div>                                    
                </div>
              </div>
            </section>      

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Pesquisar..." />
              </form>
            </section>
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mostraAcademias">Academias</a></li>
                <li><a href="/mostraPlanos">Planos</a></li>
                <li><a href="/mostraProdutos">Produtos</a></li>            
                
                <li><a href="shortcodes">Shortcodes</a></li>
                <li>
                  <span class="opener">Cadastros</span>
                  <ul>
                    <li><a href="/academiasCadastro">Academias</a></li>
                    <li><a href="/planosCadastro">Planos</a></li>
                    <li><a href="/produtosVitrine">Produtos</a></li>
                    <li><a href="/usuarios">Usuários</a></li>
                  </ul>
                </li>                             
              </ul>
            </nav>

            

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2020 GymHub
              
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/transition.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/custom.js"></script>
</body>


  </body>

</html>
